body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: absolute;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.heading {
  font-family: "Montserrat", "Poppins", sans-serif;
  font-weight: 900;
  font-size: calc(3vw + 1rem);
  color: rgba(0, 0, 0, 1);
}

.App {
  margin: 0;
  padding: 0;
}

a,
a:hover,
a:focus {
  text-decoration: none;
  color: white;
}

/* Navbar Component Styling Starts */

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  background: linear-gradient(90deg, #8e2de2 0%, rgba(74, 0, 224, 0.84) 98.64%),
    #ffffff;
  margin: 0;

  padding-left: 15vw;
  padding-right: 15vw;
}

.navbar-brand a,
.navbar-item a {
  color: white;
  font-weight: bold;
  font-family: "Montserrat", "Poppins", sans-serif;
  font-size: 1.5rem;
}

.navbar-child.navbar-right {
  display: flex;
  flex-direction: row;
}

.navbar-right-child.navbar-item {
  margin: 0 1.5rem;
}

/* Navbar Component Styling Ends */

/* Welcome Component Styling Starts */

.welcome {
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.3)
    ),
    url("./images/BG_pc.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.welcome-child {
  flex: 1;
  /* border: solid 2px red; */
  justify-content: space-evenly;
}

.welcome-child.profile-img img {
  border: 2px solid #555;
  border-radius: 50%;
  transform: scale(0.5);
  margin: 0 auto;
}

.welcome-child.welcome-txt {
  text-transform: uppercase;
  font-weight: 600;
}

/* Welcome Component Styling Ends */

/* About Component Styling Starts */

.about.desc {
  max-width: 800px;
  margin: 0 auto;
}

.section-about img.site-header {
  /* border-top: 2px solid red; */
  width: 100%;
  height: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/* About Component Styling Ends */

/* Education Component Styling Starts */

.education > .holder {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.holder-child {
  flex: 1;
  text-align: center;
}

.edu-class-body {
  text-align: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.edu-icon {
  flex: 2;
}

.edu-data {
  flex: 1;
}

.edu-class-body > .edu-icon > a > img {
  width: calc(1vh + 128px);
}

/* Education Component Styling Ends */

/* Skills Component Styling Starts */

.wrapper {
  display: flex;
  justify-content: space-between;
}

.skills-holder,
.lang-holder,
.tools-holder {
  flex: 1;
  /* border: 2px solid red; */
}

.section-skills .wrapper .list li {
  color: rgba(0, 0, 0, 0.8);
}

/* Skills Component Styling Ends */

/* Project Component Styling Starts */

.section-project {
  max-width: 900px;
  margin: 0 auto;
  /* border: 2px solid red; */
}

.project-card.title {
  color: rgba(0, 0, 0, 0.7);
}

.project-card.desc {
  color: rgba(0, 0, 0, 0.5);
}

.project-card .btn {
  background: rgba(99, 20, 177, 0.8);
}

/* Project Component Styling Ends */

/* Courses Component Styling Starts */

.section-courses {
  max-width: 900px;
  margin: 0 auto;
}

.course.main {
  color: rgba(0, 0, 0, 0.7);
}

.course.desc {
  color: rgba(0, 0, 0, 0.5);
}

/* Courses Component Styling Ends */

/* Achievements Component Styling Starts */

.section-achiev {
  max-width: 900px;
  margin: 0 auto;
}

.achiev.detail {
  color: rgba(0, 0, 0, 0.7);
}

/* Achievements Component Styling Ends */

/* Feedback Component Styling Starts */

.section-feedback {
  /* border: 2px solid red; */
  max-width: 900px;
  margin: 0 auto;
}

.section-feedback button {
  color: white;
  background: rgba(99, 20, 177, 0.8);
  border: none;
}
.section-feedback > .feedback-wrapper {
  max-width: 80vh;
}

.section-feedback label {
  color: rgba(0, 0, 0, 0.7);
}

/* Feedback Component Styling Ends */

/* Footer Component Styling Starts */

.footer {
  padding-top: 0.5rem;
  font-family: Poppins, "Courier New", Courier, monospace;
  font-size: calc(1vh + 0.75rem);
}

.footer > .icons > a > img {
  padding: 0 calc(1vw + 0.5rem);
}

.footer img.site-footer {
  width: 100%;
  height: auto;
}

/* Footer Component Styling Ends */

@media only screen and (max-width: 768px) {
  .navbar {
    padding-left: 5vw;
    padding-right: 5vw;
  }

  .navbar-brand a,
  .navbar-item a {
    font-size: 1.2rem;
  }

  .navbar-right-child.navbar-item {
    margin: 0 0.5rem;
  }

  .education > .holder {
    flex-direction: column;
  }

  .edu-class-body {
    flex-direction: row;
  }

  .edu-icon {
    flex: 1;
  }

  .edu-data {
    flex: 3;
  }

  .holder-child {
    text-align: left;
  }

  .section-skills-wrapper {
    flex-direction: column;
  }
}
