:root{
  --base-color-btn:  rgba(99, 20, 177, 0.8); 
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", "Poppins", sans-serif, -apple-system,
    BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.heading {
  font-family: "Montserrat", "Poppins", sans-serif;
  font-weight: 900;
  font-size: calc(3vw + 1rem);
  color: rgba(0, 0, 0, 1);
}

.App {
  margin: 0;
  padding: 0;
}

a,
a:hover,
a:focus {
  text-decoration: none;
  color: white;
}

h1 {
  font-size: 2.1rem;
}

h2 {
  font-size: 1.8rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.2rem;
}

p {
  font-size: 1rem;
}

/* Navbar Component Styling Starts */

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  /* background: #191a1d; */
  background: linear-gradient(90deg, #8e2de2 0%, rgba(74, 0, 224, 0.84) 98.64%),
    #ffffff;
  margin: 0;
  height: 7vh;

  padding-left: 15vw;
  padding-right: 15vw;
}

.navbar-left{
  float: left;
  left: 1.5rem;
  position: absolute;
}

.navbar-brand a{
  color: white;
  font-weight: 900;
  font-family: "Montserrat", "Poppins", sans-serif;
  font-size: 1.5rem;
}

.navbar-item{
  color: white;
  font-weight: bold;
  font-family: "Montserrat", "Poppins", sans-serif;
  font-size: 1.20rem;
}

.navbar-child.navbar-right {
  display: flex;
  flex-direction: row;
  float: right;
  right: 1.25rem;
  position: absolute;
}

.navbar-right-child.navbar-item {
  margin: 0 1.5rem;
}

.navbar .btn.top {
  position: fixed;
  right: 1rem;
  bottom: 1rem;
  border-radius: 45%;
  z-index: 20;
  color: white;
  font-weight: 900;
  box-shadow: none;
}

/* Navbar Component Styling Ends */

/* About Component Styling Starts */

.section-about {
  background: linear-gradient(90deg, #8e2de2 0%, rgba(74, 0, 224, 0.84) 98.64%),
    #ffffff;
  padding: 0;
  margin: 0;
  border: 1px solid white;
}

.section-about .wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 70vh;
}

.section-about .about {
  max-width: 600px;
  line-height: 1.5rem;
  text-align: left;
}

.section-about .wrapper .about h1 {
  color: #fff;
  font-family: "Montserrat", "Poppins", sans-serif;
  padding: 0.9rem 0;
}

.section-about .wrapper .about h2 {
  color: #cad5ec;
  font-family: "Poppins", sans-serif;
}

.section-about .wrapper .about .btn {
  background: white;
  font-size: 1.5rem;
  font-family: "Poppins", sans-serif;
  color: rgba(99, 20, 177, 0.8);
  border: none;
  border: 1px solid black;
  border-radius: 26px;
  padding: 10px 20px;
  margin: 1rem;
}

.section-about .avatar {
  width: 100%;
  height: auto;
  border-radius: 50%;
  max-width: 300px;
}

.section-about .about,
.section-about .avatar {
  flex: 1;
}

.section-about .curve-bottom {
  width: 100%;
}

/* About Component Styling Ends */

/* Education Component Styling Starts */

.section-education {
  max-width: 1024px;
  margin: 0 auto;
  padding-left: 2.5rem;
}

.section-education img {
  width: 100%;
  height: auto;
  /* border: 2px solid red; */
}

.section-education > .holder {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.section-education .holder-child {
  flex: 1;
  text-align: center;
  border: 2px solid red;
  margin-top: 1rem;
}

.section-education .holder .edu-class .body {
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.section-education .holder .edu-class .head {
  text-align: center;
}

.edu-icon {
  flex: 2;
}

.edu-data {
  flex: 1;
}

.section-education .holder .edu-class .body > .edu-icon > a > img {
  width: calc(1vh + 100px);
}

.section-edu {
  text-align: center;
}

.edu-logo {
  height: 170px;
  width: auto;
  border-radius: 80px;
}

.edu-holder {
  display: flex;
  flex-direction: row;
}

.edu-class {
  flex: 1;
  padding: 10px 0;
  max-width: 400px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

/* Education Component Styling Ends */

/* Skills Component Styling Starts */

.section-skills {
  background: rgba(0, 0, 0, 0.1);
}

.section-skills .wrapper {
  max-width: 1024px;
  margin: 0 auto;
  padding-left: 2.5rem;
  display: flex;
  justify-content: space-between;
  /* width: 100%; */
}

.skills-holder,
.lang-holder,
.tools-holder {
  flex: 1;
  padding-left: 1.5rem;
  /* border: 2px solid red; */
}

.section-skills .wrapper .list li {
  color: rgba(0, 0, 0, 0.8);
}

/* Skills Component Styling Ends */

/* Project Component Styling Starts */

.section-project {
  max-width: 1024px;
  margin: 0 auto;
  padding-left: 2.5rem;
}

.section-project .row {
  width: 100%;
}

.project-card.title {
  color: rgba(0, 0, 0, 0.7);
}

.project-card.desc {
  color: rgba(0, 0, 0, 0.5);
}

.project-card .btn.btn-primary {
  background: var(--base-color-btn);
  border: none;
}

.project-card .card {
  margin: 0 auto;
}

.project-card .btn.btn-info {
  color: black;
  margin-right: 1rem;
}

.section-project .project-card .btn {
  border-radius: 1.2rem;
  line-height: 1.5rem;
}

/* Project Component Styling Ends */

/* Courses Component Styling Starts */

.section-courses {
  background: rgba(0, 0, 0, 0.1);
}

.section-courses .wrapper {
  max-width: 900px;
  margin: 0 auto;
}

.section-courses .wrapper li {
  line-height: 2rem;
}

.course.main {
  color: rgba(0, 0, 0, 0.8);
}

.course.desc {
  color: #404040;
}

/* Courses Component Styling Ends */

/* Achievements Component Styling Starts */

.section-achiev {
  max-width: 900px;
  margin: 0 auto;
}

.section-achiev li {
  line-height: 2.2rem;
}

.section-achiev .achiev.detail {
  color: rgba(0, 0, 0, 0.7);
}

/* Achievements Component Styling Ends */

/* Feedback Component Styling Starts */

.section-feedback {
  /* border: 2px solid red; */
  max-width: 900px;
  margin: 0 auto;
}

.section-feedback button {
  color: white;
  background: rgba(99, 20, 177, 0.8);
  border: none;
}

.section-feedback > .feedback-wrapper {
  max-width: 80vh;
  padding-left: 10%;
}

.section-feedback label {
  color: rgba(0, 0, 0, 0.7);
}

.section-feedback textarea {
  height: 7rem;
}

.section-feedback button {
  border-radius: 1.5rem;
}

.section-feedback a {
  color: black;
}

/* Feedback Component Styling Ends */

/* Footer Component Styling Starts */

.footer {
  background: linear-gradient(90deg, #8e2de2 0%, rgba(74, 0, 224, 0.84) 98.64%),
    #ffffff;
  color: white;
  padding-bottom: 1rem;
  font-family: Poppins, "Courier New", Courier, monospace;
  font-size: calc(1vh + 0.75rem);
}

.footer .curve-site-footer {
  width: 100%;
}

.footer .icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.footer-icon img {
  flex: 1;
  margin: 0 1rem;
  height: 3rem;
  width: auto;
}

/* Footer Component Styling Ends */

/* 404 Component Styling Starts */

.section-error-404 {
  height: 50vh;
  align-items: center;
  margin-top: 20vh;
  display: flex;
  flex-direction: column;
}

.section-error-404 .style-error-mark {
  font-size: 8rem;
  color: red;
  border: 10px solid red;
  margin: 0 auto;
  border-radius: 50%;
  width: 11rem;
  height: 11rem;
}

.section-error-404 .btn {
  font-family: "Poppins", sans-serif;
  border: none;
  border-radius: 1.5rem;
  line-height: 1.2rem;
  background: rgba(99, 20, 177, 0.8);
}

/* 404 Component Styling Ends */

@media only screen and (max-width: 768px) {
  h1 {
    font-size: 1.5rem;
  }

  h2 {
    font-size: 1.4rem;
  }

  h3 {
    font-size: 1.1rem;
  }

  h4 {
    font-size: 0.9rem;
  }

  .navbar {
    padding-left: 5vw;
    padding-right: 5vw;
  }

  .navbar-brand a{
    font-size: 1.25rem;
  }
  
  .navbar-item{
    font-size: 1rem;
  }

  .navbar-right-child.navbar-item {
    margin: 0 0.5rem;
  }

  .section-about .wrapper {
    flex-direction: column;
  }

  .section-about {
    padding-bottom: 1rem;
  }

  .section-about .curve-bottom {
    display: none;
  }

  .section-education {
    padding: 0 1.5rem;
  }

  .section-education .holder {
    flex-direction: column;
  }

  .section-education .holder .edu-class {
    flex-direction: row;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 1rem;
    padding: 1rem;
    width: 100%;
    border: 1px solid rgba(56, 62, 87, 0.3);
    border-radius: 1rem;
  }

  .section-education .holder .edu-class .head {
    flex: 1;
    text-align: left;
  }

  .section-education .holder .edu-class .body {
    flex: 3;
    top: 80%;
    bottom: 0;
  }

  .section-education .holder .edu-class .body {
    border-left: 4px solid #4b6cc1;
  }

  .section-education .holder .edu-class .body a {
    display: none;
  }

  .section-skills .wrapper {
    flex-direction: column;
    padding-left: 0;
  }

  .section-project {
    padding-left: 1rem;
  }

  .section-project .project-card {
    margin: 0 auto;
    padding: 0 auto;
  }

  .section-courses .wrapper li {
    line-height: 1.5rem;
  }

  .section-achiev li {
    line-height: 1.6rem;
  }

  .section-feedback > .feedback-wrapper {
    padding-left: 0;
  }

  .footer {
    padding: 1rem 0;
  }

  .footer .curve-site-footer {
    display: none;
  }

  .footer-icon img {
    width: 9vw;
  }
}
