section.captures{
  scroll-behavior: smooth;
  text-align: center;
}

section.captures h1.display-6{
  font-weight: 500;
}

section.captures img.pic.thumbnail{
  max-width: 360px;
  max-height: 240px;
  height: 240px;
  width: 360px;
  margin: 2vh;
  border-radius: 5px;
}

.btn.btn-primary{
  background-color: var(--base-color-btn);
  color: white;
  border-radius: 5px;
  border: none;
}

@media only screen and (max-width:1024px){
  section.captures{  
    margin: 0;
  }

  section.captures h1.heading{
    font-size: 4rem;
    padding: 3rem 0;
  }

  section.captures img.pic{
    margin: 0.25rem 0;
  }

  section.captures img.pic.thumbnail{
    /* height: ; */
    width: 90vw;
  }
}